.container {
    width: 80%;
    margin: 50px auto;
}

.square {
    width:100px;
    height: 100px;
    border: 1px solid black;
}

.rounded {
    border-radius: 50%;
}

.big-square {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.flex {
    display:flex;
}

.red {
    background-color:red;
    transform: translate(200px, 330px) scale(2);
}

.yellow {
    background-color: yellow;
    transform: translate(700px, 10px) scale(1.5);
}

.green {
    background-color: green;
    transform: rotate(45deg) translate(75px, 65px);
}

.blue {
    background-color: blue;
    transform: skew(20deg , 10deg);
}

.purple {
    background-color: purple;;
}

.purple:nth-of-type(1){
    transform: translate(-50%, -50%);
}

.purple:nth-of-type(2){
    transform: translate(150%, -150%);
}

.purple:nth-of-type(3){
    transform: translate(50%, -150%);
}

.purple:nth-of-type(4){
    transform: translate(-50%, -150%);
}

.purple:nth-of-type(5){
    transform: translate(150%, -250%);
}

